[user]
  name = Diogo \"Mozão\" Fonseca
  email = devmozao@outlook.com
[core]
  autocrlf = input
[pull]
  rebase = true
[diff]
  tool = vscode
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[difftool "vscode"]
  cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
[credential]
  helper = cache --timeout=28800000
[includeIf "gitdir:~/iteris/"]
    path = ~/iteris/.gitconfig
