user=0
unsafe-perm=true
init-author-name=Diogo 'Mozão' Fonseca
init-author-email=devmozao@outlook.com
init-author-url=https://github.com/devMozao
init-license=MIT
//registry.npmjs.org/:_authToken=
//npm.pkg.github.com/:_authToken=
@devmozao:registry=